/* styling for home page */
#about-me {
    grid-row: 1/5;
    grid-column: 1/7;
    font-size: 30px;
}

#fortune-teller {
    grid-row: 1/3;
    grid-column: 7/11;
    font-size: 20px;
    align-items: center;
    justify-items: center;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    border: .1em solid white;
}

#fortune-teller button {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 80%;
    height: 80%;
    font-size: 40px;
    background-color: darkgreen;
    color: white;
    border: .2em solid purple;
    font-weight: bold;
}

#fortune-teller button:hover {
    background-color: green;
    transform: scale(1.25);    
}

#fortune {
    align-self: center;
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
    margin: 0;
}

#games {
    grid-row: 4/7;
    grid-column: 1/7;
    font-size: 30px;
}

#hobbies {
    grid-row: 3/7;
    grid-column: 7/11;
    font-size: 20pt;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: .5fr repeat(3, 1fr);

}

#hobbies * {
    margin: 0;
    padding: .5em;
}

#hobbies h2 {
    grid-column: 1/11;
    grid-row: 1/2;
    text-align: center;
}
#hob-title {
    grid-row: 1/3;
    grid-column: 1/4;
    align-self: end;
}

#hob-img {
    grid-row: 2/3;
    grid-column: 9/10;
    align-self: center;
    max-width: 200px;
    
}

#hob-desc {
    grid-row: 3/4;
    grid-column: 1/11;
}

#hob-link {
    grid-row: 4/5;
    grid-column: 1/10;
    justify-self: end;
    align-self: top;
    font-size: 30pt;
}

/* begin tablet styling */
@media screen and (max-width:1080px) {
    
    #about-me {
        grid-column: 1/11;
        grid-row: 1/3;
    }
    
    #fortune-teller {
        grid-column: 1/11;
        grid-row: 3/5;
    }

    #games {
        grid-row: 5/7;
        grid-column: 1/11;
    }


    #hobbies {
        grid-row: 7/9;
        grid-column: 1/11;
        height: 100%;
    }

    #hob-img {
        grid-row: 2/4;
        grid-column: 8/11;
        align-self: center;
        justify-self: end;
    }

    #hob-desc {
        grid-column: 1/8;
        grid-row: 3/4;
    }

    #hob-link {
        grid-row: 4;
        grid-column: 8/11;
        font-size: 20pt;
    }
}