* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 20% repeat(30, 5%);
    grid-template-columns: repeat(10, 10%); 
    background-color: lightblue;
}

header {
    grid-row: 1 / 2;
    grid-column: 1/11;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: 100%;
    background-color: blue;
}

nav {
    grid-row: 1/2;
    grid-column: 7/11;
    justify-self: right;
    color: white;
    align-content: center;
    font-size: 40px;
}

nav li {
    display: inline-block;
    margin-right: .2rem;

}

nav a {
    text-decoration: none;
}

nav a:visited {
    color:white;

}

#title {
    grid-column: 1/7;
    font-size: 60px;
    color: white;

    height: 100%;
    width: 100%;
    margin: 0;
    align-content: center;
}

main {
    display: grid;
    grid-row: 2/25;
    grid-column: 1/11;
    grid-template-rows: repeat(10,10%);
    grid-template-columns: repeat(10,10%);
}

#fortune-teller {
    grid-row: 1/2;
    grid-column: 9/11;
}

#fortune-teller button {
    width: 100%;
    height: 100%;
}
