* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 30% repeat(20, 10%);
    grid-template-columns: repeat(10, 10%); 
    background-color: lightblue;
}



header {
    grid-row: 1 / 2;
    grid-column: 1/11;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: 100%;
    background-color: blue;
    height: 80%;
    align-self: center;
}

nav {
    grid-row: 1/2;
    grid-column: 7/11;
    justify-self: right;
    color: white;
    align-content: center;
    font-size: 40px;
}

nav li {
    display: inline-block;
    margin-right: .2rem;

}

nav a {
    text-decoration: none;
}

nav a:visited {
    color:white;

}

#title {
    grid-column: 1/7;
    font-size: 60px;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    align-content: center;
}

main {
    display: grid;
    grid-row: 2/20;
    grid-column: 1/11;
    grid-template-rows: repeat(10,10%);
    grid-template-columns: repeat(10,10%);
    align-content: center;
    
}

#about-me {
    grid-row: 1/15;
    grid-column: 1/8;
    font-size: 30px;
}

#fortune-teller {
    grid-row: 1/3;
    grid-column: 9/11;
    font-size: 20px;
    align-items: center;
    justify-items: center;
    display: grid;
    height: 100%;
    grid-template-rows: 50% 50%;
}

#fortune-teller button {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 80%;
    height: 80%;
    font-size: 40px;
    background-color: darkgreen;
    color: white;
    border: .2em solid purple;
    font-weight: bold;
}

#fortune-teller button:hover {
    background-color: green;
    transform: scale(1.25);    
}

#fortune {
    align-self: center;
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    margin: 0;
}

#games {
    grid-row: 5/11;
    grid-column: 1/8;
    font-size: 30px;
}