/* styling for all pages */
* {
    box-sizing: border-box;
}

/* makes the body a grid with one large row at the top for the header, followed by 10 repeating sections */
body {
    display: grid;
    grid-template-rows: 10% repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr); 
    background-color: aqua;
    color: white;
    margin: 0;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 11;
    margin-top: 0;
    padding-left: .5em;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 100%;
    background-color: rgb(1, 1, 180);
    height: 80%;
    align-self: center;
    
}

/* nav bar and title styling */
#title {
    grid-column: 1/5;
    font-size: 60px;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    align-content: center;
    text-align: center;
    text-shadow: 1px 1px black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    transform: scale(1.2);
    text-decoration: underline;
}

a:visited {
    color:white;
}

nav {
    grid-row: 1/2;
    grid-column: 5/11;
    justify-self: right;
    color: white;
    align-content: center;
    font-size: 25pt;
    padding-right: .3em;
}

nav ul {
    padding-left: 0;
}

nav li {
    display: inline-block;
    margin-right: .15rem;
    border: .05em solid white;
}

nav a {
    text-decoration: none;
    color: white;
    padding: .5em;
}

.m-nav {
    display: none;
}

main {
    display: grid;
    grid-row: 2/20;
    grid-column: 1/11;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(10,1fr);
    align-content: center;
    padding-left: .5em;
    padding-right: .5em;
    
}

section {
    padding: .5em;
    border: .1em solid navy;
    border-radius: .5em;
    margin: .2em;
    background-color: rgb(2, 115, 152);
}

footer {
    grid-column: 1/11;
    font-size: 20pt;
    background-color: rgb(1, 1, 180);
}

footer li {
    list-style-type: none;
}